<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar #searchBar (ionChange)=search($event)></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of products">
        <div class="product-card">
          <img [src] = item.image class="image-card ">
          <div>{{item.name}}</div>
          <div>{{item.price | currency}}</div>
          <ion-button size="small" (click)=addToCart(item)>
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)=addToFav(item)>
            <ion-icon slot="icon-only" name="heart"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="container" *ngIf="products.length === 0">
    <strong>There are no products</strong>
  </div>
</ion-content>
