<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf = "userEmail === undefined">
    <ion-item>You are not logged in</ion-item>
    <ion-button expand="block" color="secondary" type="submit" (click)=login()>Login</ion-button>
    <ion-button expand="block" color="secondary" type="submit" (click)=signup()>Sign Up</ion-button>
  </div>
  <div *ngIf = "userEmail !== undefined">
    <ion-item> 
      Hello {{userEmail}}
    </ion-item>
    <ion-button expand="block" color= "secondary" (click)=logout()>Logout</ion-button>
  </div>
</ion-content>
